<main class="g-5">
    <div>
        <p>Name: {{name}}</p>
        <p>Description: {{description}}</p>
        <span class="badge text-bg-secondary mb-3">History:</span>
        <ul>
            <li>
                <span class="badge text-bg-light">Year: {{history.year}}</span>
            </li>
            <li>
                <span class="badge text-bg-light">Founder: {{history.founder}}</span>
            </li>
        </ul>
    </div>

    <hr>

    <div>
        <span class="badge text-bg-secondary mb-3">Types:</span>
        <ul>
            <li>{{types.[0]}}</li>
            <li>{{types.[1]}}</li>
            <li>{{types.[2]}}</li>
            <li>{{types.[3]}}</li>
            <li>{{types.[4]}}</li>
            <li>{{types.[5]}}</li>
            <li>{{types.[6]}}</li>
        </ul>
    </div>

    <hr>

    <div>
        <span class="badge text-bg-secondary mb-3">Syntax:</span>
        <ul>
            <li>
                <span class="badge text-bg-info mb-2">Variables:</span>
            </li>
            <ul>
                <li>{{syntax.variables.[0]}}</li>
                <li>{{syntax.variables.[1]}}</li>
                <li>{{syntax.variables.[2]}}</li>
            </ul>
        </ul>

        <ul>
            <li>
                <span class="badge text-bg-info mb-2">Functions:</span>
            </li>
            <ul>
                <li>{{syntax.functions.[0]}}</li>
            </ul>
        </ul>

        <ul>
            <li>
                <span class="badge text-bg-info mb-2">Conditionals:</span>
            </li>
            <ul>
                <li>{{syntax.conditionals.[0]}}</li>
                <li>{{syntax.conditionals.[1]}}</li>
                <li>{{syntax.conditionals.[2]}}</li>
            </ul>
        </ul>

        <ul>
            <li>
                <span class="badge text-bg-info mb-2">Loops:</span>
            </li>
            <ul>
                <li>{{syntax.loops.[0]}}</li>
                <li>{{syntax.loops.[1]}}</li>
                <li>{{syntax.loops.[2]}}</li>
            </ul>
        </ul>

        <ul>
            <li>
                <span class="badge text-bg-info mb-2">Classes:</span>
            </li>
            <ul>
                <li>{{syntax.classes.[0]}}</li>
            </ul>
        </ul>
    </div>

    <hr>

    <div>
        <span class="badge text-bg-secondary mb-3">Features:</span>
        <ul>
            <li>{{features.[0]}}</li>
            <li>{{features.[1]}}</li>
            <li>{{features.[2]}}</li>
            <li>{{features.[3]}}</li>
            <li>{{features.[4]}}</li>
            <li>{{features.[5]}}</li>
        </ul>
    </div>

    <hr>

    <div>
        <span class="badge text-bg-secondary mb-3">Libraries:</span>
        <ul>
            <li>{{libraries.[0]}}</li>
            <li>{{libraries.[1]}}</li>
            <li>{{libraries.[2]}}</li>
            <li>{{libraries.[3]}}</li>
            <li>{{libraries.[4]}}</li>
            <li>{{libraries.[5]}}</li>
            <li>{{libraries.[6]}}</li>
            <li>{{libraries.[7]}}</li>
        </ul>
    </div>

    <hr>

    <div>
        <span class="badge text-bg-secondary mb-3">Tools:</span>
        <ul>
            <li>{{tools.[0]}}</li>
            <li>{{tools.[1]}}</li>
            <li>{{tools.[2]}}</li>
            <li>{{tools.[3]}}</li>
            <li>{{tools.[4]}}</li>
            <li>{{tools.[5]}}</li>
            <li>{{tools.[6]}}</li>
            <li>{{tools.[7]}}</li>
        </ul>
    </div>

    <hr>

    <div>
        <span class="badge text-bg-secondary mb-3">Community:</span>
        <ul>
            <li>Name: {{community.[0].name}}</li>
            <li class=" mb-3">Type: {{community.[0].type}}</li>
            <li>Name: {{community.[1].name}}</li>
            <li class=" mb-3">Type: {{community.[1].type}}</li>
            <li>Name: {{community.[2].name}}</li>
            <li class=" mb-3">Type: {{community.[2].type}}</li>
            <li>Name: {{community.[3].name}}</li>
            <li class=" mb-3">Type: {{community.[3].type}}</li>
        </ul>
    </div>
</main>