<main class="g-5">

    <div class="card my-5">
        <div class="card-body nav">
            {{#each navigation.links}}
            <div class="nav-item">
                <a href="{{href}}" class="nav-link">{{text}}</a>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="row">

        <div>
            <h1>{{header.title}}</h1>
            {{#with header.button}}
            <a class="btn btn-light" href="{{link}}">{{text}}</a>
            {{/with}}
        </div>

        <div class="my-5">
            <hr>
        </div>

        <div>
            {{#each goodsBlock}}
            {{> cartGoodsltem}}
            {{/each}}
        </div>

        <div class="my-5">
            <hr>
        </div>

        <div>
            {{#with total}}
            <h4>{{title}}</h4>
            <div class="display-6">{{amount}}</div>
            <div class="my-1">{{delivery}}</div>
            {{#each buttons}}
            <div class="my-3 mt-4">
                <a href="{{link}}"
                    class="btn {{#if isSuccess}} btn-success {{/if}} {{#if isOutline}} btn-outline-success {{/if}}">{{text}}</a>
            </div>
            {{/each}}
            {{/with}}
        </div>

        <div class="my-5">
            <hr>
        </div>

        <div>
            <h4 class="text-center">{{goodsOtherBlock.title}}</h4>

            <div class="row">
                {{#each goodsOtherBlock.cards}}
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top" src="{{image}}">
                        <div class="card-body">
                            <h6 class="card-title">{{title}}
                                {{#if isHot}}
                                <div class="badge rounded-pill text-bg-warning">Hot!</div>
                                {{else}}
                                {{/if}}

                                {{#if idNew}}
                                <div class="badge rounded-pill text-bg-primary">New!</div>
                                {{else}}
                                {{/if}}
                            </h6>
                            <div>{{description}}</div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="my-5">
            <hr>
        </div>

        {{#with subscribe}}
        <div class="col-12">
            <div class="card">
                <div class="card-body text-bg-dark">
                    <h2>{{header}}</h2>
                    <p>{{description}}</p>
                    {{#each buttons}}
                    <div>
                        <a class="btn btn-primary my-2" href="{{link}}">{{text}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/with}}


        <div class="my-5">
            <hr>
        </div>

        <footer>

            <div class="row">
                {{#each footer.[0]}}
                <div class="col-3 px-1">
                    <form action="{{link}}" target="_blank">
                        <button class="btn btn-link">{{text}}</button>
                    </form>
                </div>
                {{/each}}
            </div>

            <div class="row">
                {{#each footer.[1]}}
                <div class="col-3 px-1">
                    <form action="{{link}}" target="_blank">
                        <button class="btn btn-link">{{text}}</button>
                    </form>
                </div>
                {{/each}}
            </div>

            <div class="row">
                {{#each footer.[2]}}
                <div class="col-3 px-1">
                    <form action="{{link}}" target="_blank">
                        <button class="btn btn-link">{{text}}</button>
                    </form>
                </div>
                {{/each}}
            </div>

            <div class="row">
                {{#each footer.[3]}}
                <div class="col-3 px-1">
                    <form action="{{link}}" target="_blank">
                        <button class="btn btn-link">{{text}}</button>
                    </form>
                </div>
                {{/each}}
            </div>

            <div class="row">
                {{#each footer.[4]}}
                <div class="col-3 px-1">
                    <form action="{{link}}" target="_blank">
                        <button class="btn btn-link disabled">{{text}}</button>
                    </form>
                </div>
                {{/each}}
            </div>

        </footer>

    </div>
</main>