{{#with footer}}

<hr>
<br>

<div>
    {{#with social}}
    {{> link text=email.text href=email.href blank=true }}
    {{> link text=phone.text href=phone.href blank=true }}
    {{> link text=linkidin.text href=linkidin.href blank=true noLine=true }}
    {{/with}}
</div>

<div class="my-3">
    <em>Copyright by {{../header.name.firstname}} {{../header.name.lastname}} </em>
</div>

<div>
    <address>{{../header.address}}</address>
</div>
{{/with}}























{{!-- {{#with footer}}
<div>
    {{#with social}}
    {{> link text=email.text href=email.href blank=true }}
    {{> link text=phone.text href=phone.href blank=true }}
    {{> link text=linkidin.text href=linkidin.href blank=true noLine=true }}
    {{/with}}
</div>


<br>

<div>
    <em>Copyright by {{../name.firstname}} {{name.lastname}} </em>
</div>

<br>

<div>
    <address>{{address}}</address>
</div>
{{/with}} --}}